@charset "UTF-8";
/* Add your custom CSS declarations below  */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

#mainNav {
    background-color: black;
    color: #ededef;
}

/*.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
} */


header {
    margin-top: 50px;
    background-color: black;
}

h1 {
    color: #515459;
    font-family: 'Playfair', 'serif';
    text-align: center;
    font-size: 15vw;
}

h2 {
    font-family: 'Playfair Display', serif;
    color: rgb(134, 136, 138);
    font-size: 6.9vw;
    margin-left: 11%;
}

h3 {
    font-family: 'Playfair Display', serif;
    color: rgb(134, 136, 138);
    text-align: center;
    font-size: 15vw;
    margin-top: 80px;
}

h4 {
    font-family: 'Playfair Display', serif;
    color: rgb(134, 136, 138);
    text-align: center;
    font-size: 5vw;
    margin-top: 85px;
}

h5 {
    font-family: 'Playfair Display', serif;
    color: rgb(134, 136, 138);
    text-align: left;
    font-size: 8vw;
    margin-top: 80px;
    margin-left: 20px;
}

h6 {
    font-family: 'Poppins', sans-serif;
    color: #ededef;
    text-align: center;
    font-size: 2vw;
    /*margin-top: 85px;*/
}


p {
    color: rgb(226, 226, 226);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1.3vw;
    /*font-size: large;*/
    position: auto;
}

.column {
    float: left;
    padding: 39px;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
    margin-top: 8%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

li {
    color: rgb(226, 226, 226);
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    text-align: center;
    list-style-type: none;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
}

hr {
    width: 95%;
    height: 5px;
    background-color: black;
}

/* Icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

/* Facebook */
.fa-facebook {
    background: #ededef;
    color: black;
    width: 50%;
}

/* Instagram */
.fa-instagram {
    background: #ededef;
    color: black;
    width: 50%;
}
/* LinkedIn */
.fa-linkedin {
    background: #ededef;
    color: black;
    width: 50%;
}
