@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    background-color: #161616;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.nav-links li {
    list-style: none;
}

.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bold;
}

.nav-links li.active a{
    color: #cc9a48;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
    .nav-links{
    width: 60%;
}
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 95vh;
        top: 5.5vh;
        background-color: #161616;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .burger{
        display: block;
    }
    .nav-active{
        transform: translatex(0%);
    }
}

@keyframes navlinkfade{
    from{
        opacity: 0;
        transform: translatex(50px);
    }
    to{
        opacity: 1;
        transform: translatex(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.responsive {
  width: 100%;
  height: auto;
}

h1 {
    color: #826343;
    text-align: center;
    font-size: 10vw;
    margin-top: 50px;
}

h2 {
    font-family: 'Playfair Display', serif;
    color: rgb(134, 136, 138);
    font-size: 6.8vw;
   /* margin-left: 7%; */
}

hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: .50vw;
    background-color: #13361c;
    border: none;
}
h3 {
    font-family: 'Playfair Display', serif;
    color: rgb(59, 61, 64);
    font-size: 3vw;
    margin-top: .05vw;
    margin-left: 12.5vw;
}

h4 {
    font-family: 'Playfair Display', serif;
    color: rgb(59, 61, 64);
    font-size: 3vw;
    margin-top: .05vw;
}

p {
    font-size: large;
    margin-top: 5%;
    position: auto;
}
