@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

.wholepage {
    margin: 0;
    padding: 0;
}

.nav a{
    color: black;
    font-size: 17px;
}

.nav-item {
    color:  color: #3c738b;
    background-color: #eae1c6;
}

.nav-item a:hover {
    background-color: #f4efe1;
    color: black;
}

.nav-item a.active {
    background-color: #f4efe1;
    color: #595959;
}

body { 
    font-family: sans-serif;
    color: #595959;
    line-height: 24px;
}

.content{
	padding:15px 0 0 25px; 
        margin: 0;
}

h1 {
    text-align: center;
    background-color: #450084;
    color: #ffffff;
    padding: 8px;
    font-family: 'arvo', serif;
    font-size: 28px;
    margin: 0;
}

h2 {
    text-align: center;
    padding-top: 5px;
    color: #450084;
    font-family: 'arvo', serif;
    font-size: 34px;
}

h3 {
    text-align: center;
    font-family: 'arvo', serif;
    color: #333;
    background-color: #dacce6;
    padding: 5px;
}

h5 {
    text-align: center;
}

p {
    text-align: center;
    margin-top: 8px;
    margin-left: 25px;
    margin-right: 25px;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 24px;
}

a {
    color: #3c738B;
}

a:hover {
    color: #5498B6;
}

/* STRUCTURE */

.wrapper {
	padding: 5px;
	max-width: 960px;
	width: 95%;
	margin: 20px auto;
}
header {
	padding: 0 15px;
}

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column {
	flex: 1;
	border: 1px solid #d6d6d6;
	margin: 2px;
	padding: 10px;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
	
}


/* Responsive iFrame */

.responsive-iframe-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
position: absolute;
top: 0;
left: 0;
width: 50%;
height: 50%;
}

.card {
    margin: 10px;
}
